<div class="col-xs-12">
	<div class="text-center">
		<h1>Agregar Operador</h1>
	</div>
	<form name="frmOperadores">

		<div class="alert alert-danger" role="alert" ng-show="frmOperadores.$dirty && !frmOperadores.$valid">
			<!--<div class="alert alert-danger" role="alert" ng-show="!formularioValido">-->
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">Error:</span>
			Ingrese un nombre v&aacute;lido!
		</div>

		<div class="form-group">
			<select class="form-control" ng-options="tipo.descripcion for tipo in tiposDocumento track by tipo.codigo"
					ng-model="operador.documento.tipo" required ng-disabled="edicion">
				<option value="">--Seleccione--</option>
			</select>
		</div>

		<div class="form-group">
			<input type="text" class="form-control" ng-pattern="/^[a-zA-Z 0-9]*$/" required ng-disabled="edicion"
				   ng-model="operador.documento.numero" placeholder="N&uacute;mero Documento">
		</div>

		<div class="form-group">
			<input type="text" class="form-control" ng-pattern="/^[a-zA-Z 0-9]*$/"
				   ng-model="operador.razonSocial" placeholder="Raz&oacute;n Social" required>
		</div>

		<div class="form-group">
			<select class="form-control" ng-options="tipo.descripcion for tipo in tiposOperador track by tipo.codigo"
					ng-model="operador.tipo" required>
				<option value="">--Seleccione--</option>
			</select>
		</div>

		<div class="form-group">
			<span class="panel-title">Medios:</span>
			<table class="table">
				<thead>
				<th>Placa</th>
				<th>Marca</th>
				<th>Modelo</th>
				<th>Acciones</th>
				</thead>
				<tbody>
				<tr ng-repeat="medio in operador.medios">
					<td>{{medio.placa}}</td>
					<td>{{medio.marca}}</td>
					<td>{{medio.modelo}}</td>
					<td>
						<button type="button" class="btn btn-sm btn-default" ng-click="editarMedio(medio.placa)">
							<span class="glyphicon glyphicon-pencil"></span>
						</button>
						<button type="button" class="btn btn-sm btn-danger" ng-click="eliminarMedio(medio.placa)">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</td>
				</tr>
				</tbody>
			</table>
			<button type="button" class="btn btn-sm btn-primary pull-right" data-toggle="modal"
					data-target="#modalMedios">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
		</div>

		<div class="form-group">&nbsp;</div>

		<div class="form-group">
			<button type="button" class="btn btn-success btn-lg btn-block"
					ng-click="frmOperadores.$valid && guardarOperador()">
				<!--<button type="button" class="btn btn-success btn-lg btn-block" ng-click="guardar()">-->
				<span class="glyphicon glyphicon-pushpin"></span>
				Guardar
			</button>
		</div>

		<div class="form-group">
			<a href="#/" class="btn btn-default btn-lg btn-block">
				<span class="glyphicon glyphicon-remove"></span>
				Cancelar
			</a>
		</div>
	</form>
</div>

<div class="modal fade" id="modalMedios" role="dialog" aria-labelledby="modalMediosLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="modalMediosLabel">REGISTRO DE MEDIOS</h4>
			</div>
			<div class="modal-body">
				<form id="frmGarantias" name="frmGarantias" role="form">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label>Placa</label>
								<input type="text" class="form-control" ng-model="medio.placa">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Marca</label>
								<input type="text" class="form-control" ng-model="medio.marca">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Modelo</label>
								<input type="text" class="form-control" ng-model="medio.modelo">
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clean()">Cancelar</button>
				<button type="button" class="btn btn-primary" ng-click="guardarMedio(medio)">Guardar Medio</button>
			</div>
		</div>
	</div>
</div>

<div id="alertSuccess" class="alert alert-success alert-dismissible" role="alert" style="position: absolute; top: 50px">
	<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<strong>Correcto</strong> Guardado correctamente.
</div>

<div id="alertError" class="alert alert-danger alert-dismissible" role="alert" style="position: absolute; top: 50px">
	<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<strong>Error</strong> {{alertError}}.
</div>
