<div class="col-xs-12">
	<div class="text-center">
		<h1>Agregar Aduanas</h1>
	</div>

	<form name="frmAduanas">
		<div class="form-group">
			<table>
				<tr ng-repeat="aduana in aduanas">
					<td><input type="checkbox" ng-model="aduana.value"> {{aduana.descripcion}}</td>
				</tr>
			</table>
		</div>

		<div class="form-group">&nbsp;</div>

		<div class="form-group">
			<button type="button" class="btn btn-success btn-lg btn-block" ng-click="guardarAduanas()">
				<span class="glyphicon glyphicon-pushpin"></span>
				Guardar Aduanas
			</button>
		</div>

		<div class="form-group">
			<a href="#/" class="btn btn-default btn-lg btn-block">
				<span class="glyphicon glyphicon-remove"></span>
				Cancelar
			</a>
		</div>
	</form>
</div>

<div id="alertSuccess" class="alert alert-success alert-dismissible" role="alert" style="position: absolute; top: 50px">
	<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<strong>Correcto</strong> Guardado correctamente.
</div>

<div id="alertError" class="alert alert-danger alert-dismissible" role="alert" style="position: absolute; top: 50px">
	<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<strong>Error</strong> {{alertError}}.
</div>
