<!--<button type="button" class="btn btn-sm btn-success pull-left" ng-click="marcarComprado(operador)">
	<span class="glyphicon" ng-class="operador.comprado ? 'glyphicon-check' : 'glyphicon-unchecked'"></span>
</button>-->

<span ng-class="{strike:operador.estado !== 'HABILITADO'}"
	  class="pull-left">{{operador.documento.tipo.codigo + " " + operador.documento.numero}}</span>

<span ng-class="{strike:operador.estado !== 'HABILITADO'}">{{operador.razonSocial | uppercase}}</span>

<div class="pull-right">
	<a type="button" href="#/operador/editar/{{operador.id}}" class="btn btn-sm btn-default">
		<span class="glyphicon glyphicon-pencil"></span>
	</a>

	<a type="button" href="#/operador/aduanas/{{operador.id}}" class="btn btn-sm btn-default">
		<span class="glyphicon glyphicon-plus"></span>
	</a>

	<button type="button" class="btn btn-sm btn-danger" ng-click="cambiarEstado(operador)">
		<span class="glyphicon glyphicon-trash"></span>
	</button>
</div>
