<div class="col-xs-12">
	<a href="#/operador" class="btn btn-primary btn-lg btn-block">
		<span class="glyphicon glyphicon-plus"></span>
		Agregar OCE</a>

	<ul class="list-group">
		<li ng-repeat="operador in operadores | orderBy: '-fecha'" class="list-group-item text-center clearfix">
			<tbl-detalle-operador></tbl-detalle-operador>
		</li>
	</ul>
</div>

<div id="alertSuccess" class="alert alert-success alert-dismissible" role="alert" style="position: absolute; top: 50px">
	<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<strong>Correcto</strong> Guardado correctamente.
</div>

<div id="alertError" class="alert alert-danger alert-dismissible" role="alert" style="position: absolute; top: 50px">
	<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<strong>Error</strong> {{alertError}}.
</div>
